<div>
  <h2 id="page-heading" data-cy="PlanoDeSaudeHeading">
    <span jhiTranslate="consultaOnlineApp.planoDeSaude.home.title">Plano De Saudes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="consultaOnlineApp.planoDeSaude.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plano-de-saude"
        [routerLink]="['/plano-de-saude/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="consultaOnlineApp.planoDeSaude.home.createLabel"> Create a new Plano De Saude </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="planoDeSaudes?.length === 0">
    <span jhiTranslate="consultaOnlineApp.planoDeSaude.home.notFound">No planoDeSaudes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="planoDeSaudes && planoDeSaudes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="consultaOnlineApp.planoDeSaude.idPlano">Id Plano</span></th>
          <th scope="col"><span jhiTranslate="consultaOnlineApp.planoDeSaude.nomePlano">Nome Plano</span></th>
          <th scope="col"><span jhiTranslate="consultaOnlineApp.planoDeSaude.ativo">Ativo</span></th>
          <th scope="col"><span jhiTranslate="consultaOnlineApp.planoDeSaude.cnpj">Cnpj</span></th>
          <th scope="col"><span jhiTranslate="consultaOnlineApp.planoDeSaude.formaDePag">Forma De Pag</span></th>
          <th scope="col"><span jhiTranslate="consultaOnlineApp.planoDeSaude.paciente">Paciente</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planoDeSaude of planoDeSaudes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/plano-de-saude', planoDeSaude.id, 'view']">{{ planoDeSaude.id }}</a>
          </td>
          <td>{{ planoDeSaude.idPlano }}</td>
          <td>{{ planoDeSaude.nomePlano }}</td>
          <td>{{ planoDeSaude.ativo }}</td>
          <td>{{ planoDeSaude.cnpj }}</td>
          <td jhiTranslate="{{ 'consultaOnlineApp.FormaDePag.' + planoDeSaude.formaDePag }}">{{ planoDeSaude.formaDePag }}</td>
          <td>
            <div *ngIf="planoDeSaude.paciente">
              <a [routerLink]="['/paciente', planoDeSaude.paciente?.id, 'view']">{{ planoDeSaude.paciente?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/plano-de-saude', planoDeSaude.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/plano-de-saude', planoDeSaude.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(planoDeSaude)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
