<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-relatorio-heading"
        data-cy="RelatorioCreateUpdateHeading"
        jhiTranslate="consultaOnlineApp.relatorio.home.createOrEditLabel"
      >
        Create or edit a Relatorio
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.relatorio.idMedico" for="field_idMedico">Id Medico</label>
          <input type="number" class="form-control" name="idMedico" id="field_idMedico" data-cy="idMedico" formControlName="idMedico" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.relatorio.descricao" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.relatorio.diagnostico" for="field_diagnostico"
            >Diagnostico</label
          >
          <input
            type="text"
            class="form-control"
            name="diagnostico"
            id="field_diagnostico"
            data-cy="diagnostico"
            formControlName="diagnostico"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.relatorio.medico" for="field_medico">Medico</label>
          <select class="form-control" id="field_medico" data-cy="medico" name="medico" formControlName="medico">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="medicoOption.id === editForm.get('medico')!.value?.id ? editForm.get('medico')!.value : medicoOption"
              *ngFor="let medicoOption of medicosSharedCollection; trackBy: trackMedicoById"
            >
              {{ medicoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
