<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="consulta">
      <h2 data-cy="consultaDetailsHeading"><span jhiTranslate="consultaOnlineApp.consulta.detail.title">Consulta</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ consulta.id }}</span>
        </dd>
        <dt><span jhiTranslate="consultaOnlineApp.consulta.idPaciente">Id Paciente</span></dt>
        <dd>
          <span>{{ consulta.idPaciente }}</span>
        </dd>
        <dt><span jhiTranslate="consultaOnlineApp.consulta.dataConsulta">Data Consulta</span></dt>
        <dd>
          <span>{{ consulta.dataConsulta | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="consultaOnlineApp.consulta.horario">Horario</span></dt>
        <dd>
          <span>{{ consulta.horario }}</span>
        </dd>
        <dt><span jhiTranslate="consultaOnlineApp.consulta.paciente">Paciente</span></dt>
        <dd>
          <div *ngIf="consulta.paciente">
            <a [routerLink]="['/paciente', consulta.paciente?.id, 'view']">{{ consulta.paciente?.idPaciente }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/consulta', consulta.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
