<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-medico-heading" data-cy="MedicoCreateUpdateHeading" jhiTranslate="consultaOnlineApp.medico.home.createOrEditLabel">
        Create or edit a Medico
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.medico.idMedico" for="field_idMedico">Id Medico</label>
          <input type="number" class="form-control" name="idMedico" id="field_idMedico" data-cy="idMedico" formControlName="idMedico" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.medico.nome" for="field_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="field_nome" data-cy="nome" formControlName="nome" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.medico.crm" for="field_crm">Crm</label>
          <input type="number" class="form-control" name="crm" id="field_crm" data-cy="crm" formControlName="crm" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.medico.cpf" for="field_cpf">Cpf</label>
          <input type="number" class="form-control" name="cpf" id="field_cpf" data-cy="cpf" formControlName="cpf" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.medico.rg" for="field_rg">Rg</label>
          <input type="number" class="form-control" name="rg" id="field_rg" data-cy="rg" formControlName="rg" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.medico.especialidade" for="field_especialidade"
            >Especialidade</label
          >
          <input
            type="text"
            class="form-control"
            name="especialidade"
            id="field_especialidade"
            data-cy="especialidade"
            formControlName="especialidade"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.medico.contato" for="field_contato">Contato</label>
          <input type="number" class="form-control" name="contato" id="field_contato" data-cy="contato" formControlName="contato" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.medico.administrador" for="field_administrador"
            >Administrador</label
          >
          <select
            class="form-control"
            id="field_administrador"
            data-cy="administrador"
            name="administrador"
            formControlName="administrador"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                administradorOption.id === editForm.get('administrador')!.value?.id
                  ? editForm.get('administrador')!.value
                  : administradorOption
              "
              *ngFor="let administradorOption of administradorsSharedCollection; trackBy: trackAdministradorById"
            >
              {{ administradorOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
