<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-retorno-heading" data-cy="RetornoCreateUpdateHeading" jhiTranslate="consultaOnlineApp.retorno.home.createOrEditLabel">
        Create or edit a Retorno
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.retorno.idMedico" for="field_idMedico">Id Medico</label>
          <input type="number" class="form-control" name="idMedico" id="field_idMedico" data-cy="idMedico" formControlName="idMedico" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.retorno.idPaciente" for="field_idPaciente">Id Paciente</label>
          <input
            type="number"
            class="form-control"
            name="idPaciente"
            id="field_idPaciente"
            data-cy="idPaciente"
            formControlName="idPaciente"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.retorno.dataRetorno" for="field_dataRetorno"
            >Data Retorno</label
          >
          <div class="input-group">
            <input
              id="field_dataRetorno"
              data-cy="dataRetorno"
              type="text"
              class="form-control"
              name="dataRetorno"
              ngbDatepicker
              #dataRetornoDp="ngbDatepicker"
              formControlName="dataRetorno"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dataRetornoDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.retorno.medico" for="field_medico">Medico</label>
          <select class="form-control" id="field_medico" data-cy="medico" name="medico" formControlName="medico">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="medicoOption.id === editForm.get('medico')!.value?.id ? editForm.get('medico')!.value : medicoOption"
              *ngFor="let medicoOption of medicosCollection; trackBy: trackMedicoById"
            >
              {{ medicoOption.idMedico }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
