<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-consulta-heading" data-cy="ConsultaCreateUpdateHeading" jhiTranslate="consultaOnlineApp.consulta.home.createOrEditLabel">
        Create or edit a Consulta
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.consulta.idPaciente" for="field_idPaciente">Id Paciente</label>
          <input
            type="number"
            class="form-control"
            name="idPaciente"
            id="field_idPaciente"
            data-cy="idPaciente"
            formControlName="idPaciente"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.consulta.dataConsulta" for="field_dataConsulta"
            >Data Consulta</label
          >
          <div class="input-group">
            <input
              id="field_dataConsulta"
              data-cy="dataConsulta"
              type="text"
              class="form-control"
              name="dataConsulta"
              ngbDatepicker
              #dataConsultaDp="ngbDatepicker"
              formControlName="dataConsulta"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dataConsultaDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.consulta.horario" for="field_horario">Horario</label>
          <input type="text" class="form-control" name="horario" id="field_horario" data-cy="horario" formControlName="horario" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="consultaOnlineApp.consulta.paciente" for="field_paciente">Paciente</label>
          <select class="form-control" id="field_paciente" data-cy="paciente" name="paciente" formControlName="paciente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="pacienteOption.id === editForm.get('paciente')!.value?.id ? editForm.get('paciente')!.value : pacienteOption"
              *ngFor="let pacienteOption of pacientesCollection; trackBy: trackPacienteById"
            >
              {{ pacienteOption.idPaciente }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
